.card {
  display: flex;
  list-style: none;
  border-radius: 10px;
  flex-direction: column;
  object-fit: cover;
  overflow: hidden;
}

.card__image {
  width: 282px;
  height: 282px;
  box-sizing: border-box;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding: 25px 20px 25px 20px;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  box-sizing: border-box;
}

.card__title {
  max-width: 220px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.card__like-button {
  background: transparent url(../images/icon-disabled.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  cursor: pointer;
}

.card__like-button_active {
  background-image: url(../images/icon-hover.svg);
}

.card__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.card__delete_button {
  background: transparent url(../images/Close\ Icon\ disable.svg) center
    no-repeat;
  width: 18px;
  height: 19.3px;
  border: none;
  position: absolute;
  top: 18px;
  right: 15px;
  cursor: pointer;
}

.card__delete-button_active {
  background-image: url("../images/Close\ Icon\ hover.svg");
}
.card__delete-button:hover {
  opacity: 0.5;
  cursor: pointer;
}
